<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<% if current_user.admin? %>
<div class =''>
	<h4> Merge Articles </h4>
	<% form_tag controller: "content", action: "merge" do %>
	  <%= hidden_field_tag :current_id, @article.id %> 
	  <%= label_tag :merge_with, "Article ID", :class => "test", :id => "merge_with"  %> 
	  <%= text_field_tag :merge_with, nil, :id => "merge_with" %>
	  
	  <%= submit_tag "Merge", :class => "btn" %>
	<% end %>
</div>
<% end %>